@import '/src//assets/styles/style.scss';

.introContainer {
    background-image: url('/src/assets/images/statics/introduction-bg.png');
    background-size: cover;
    height: 100vh;
    border-bottom-right-radius: rem(48) ;
    border-bottom-left-radius: rem(48) ;
    display: flex;
    align-items: center;
    justify-content: center;
    .rightLeft {
        .left {
            p {
                color: $white;
                font-size: rem(56);
                font-family: $jakartaSemiBold;
                display: inline-block;
                font-feature-settings: "ss03";
            }
            .digitalFuture {
                color: $intro-gradient-text-color;
                font-family: $jakartaExtraBold;
                
            }
        }
    }
}