@import '/src//assets/styles/style.scss';

.introContainer {
    background-image: url('/src/assets/images/statics/introduction-bg.png');
    background-size: cover;
    height: 100vh;
    border-bottom-right-radius: rem(48);
    border-bottom-left-radius: rem(48);
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    .innerContainer {
        .rightLeft {
            width: 100%;
            .introText {
                color: $white;
                font-size: rem(56);
                font-feature-settings: "ss03";
                background: radial-gradient(79.02% 175.6% at 0% 50%, #FFFFFF 30%, #4B5565 100%);
                background-clip: text;
                color: transparent;
                line-height: rem(72);
                span {
                    font-family: $jakartaExtraBold;
                }

                @include breakpoint($lg) {
                    font-size: rem(30);
                    line-height: rem(46);
                    margin-bottom: 114px;
                    width: 100%;
                }
            }
            .right {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                overflow: hidden;
                @include breakpoint($lg) {
                    height: 80vh;
                    position: relative;
                }
                .splineContainer {
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    @include breakpoint($lg) {
                        
                    }
                    .webSpline{
                        width: 100%;
                        @include breakpoint($lg) {
                            display: none;
                        }
                    }
                    .mobileSpline {
                        display: none;
                        width: 100%;
                        height: 100%;
                        padding: 0px;
                        @include breakpoint($lg) {
                            display: block;
                        }
                        canvas {
                            padding: 30px;
                        }
                    }
                }
            }
        }

    }
}

