@import '/src/assets/styles/style.scss';

.structure {
    background-color: $white;
    background-image: url('/src/assets/images/statics/about-structure-effect.png');
    background-size: cover;
    font-feature-settings: "ss03";
    padding-top: rem(96);
    padding-bottom: rem(118);
    box-sizing: border-box;
    .structureContainer {
        .nameList {
            height: rem(442);
            overflow-y: auto;
            scrollbar-width: none;
            cursor: pointer;
            margin-top: rem(48);
            .listItem {
                padding: rem(24) rem(16);
                border-bottom: 1px solid $gray-200;
                transition: .7s;
                &:hover {
                    border-left: rem(8) solid $blue-500;
                    background-color: $blue-100;
                }
                .name {
                    font-size: rem(32);
                    background: linear-gradient(90deg, #202939 40%, #697586 100%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-bottom: rem(4);
                    font-family: $jakartaSemiBold;
                }
                .description {
                    color: $gray-500;
                    font-size: rem(15);
                    color: $gray-500;
                }
            }
        }
        .imgContainer {
            margin-top: rem(48);
            width: rem(464);
            height: rem(546);
            margin-left: rem(48);
            @include breakpoint($lg) {
                display: none;
            }
            .img {
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: rem(24);
                }
            }
        }
        .details {
            background-image: url('/src/assets/images/statics/noise-details.png');
            background-color: $gray-90;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            padding-left: rem(80);
            padding-bottom: rem(80);
            border-radius: rem(40);
            position: fixed;
            top: rem(100);
            left: rem(150);
            right: rem(150);
            width: 80%;
            z-index: 99999;
            @include breakpoint($lg) {
                padding-bottom: rem(24);
                padding-left: 0;
                overflow: auto;
            }
            z-index: 1;
            &::before {
                background-image: url('/src/assets/images/statics/details-left-effect.png');
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: top left;
                z-index: -1;
                border-radius: rem(40);
            }
            &::after {
                background-image: url('/src/assets/images/statics/details-right-effect.png');
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: bottom right;
                z-index: -1;
                border-radius: rem(40);
            }
            .detailsHeading {
                display: flex;
                justify-content: flex-end;
                @include breakpoint($lg) {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                .close {
                    width: rem(40);
                    height: rem(40);
                    border-radius: 50%;
                    margin-right: rem(24);
                    margin-top: rem(24);
                    margin-bottom: rem(16);
                    cursor: pointer;
                    @include breakpoint($lg) {
                        margin-bottom: 0;
                    }
                    img {

                    }
                }
            }
            .img {
                width: rem(496);
                height: rem(560);
                @include breakpoint($lg) {
                    margin-top: 0;
                    width: 100%;
                }
                img {
                    border-radius: rem(24);
                    height: 100%;
                    width: 100%;
                }
            }
            .detailsRight {
                margin-right: rem(80);
                @include breakpoint($lg) {
                    margin-left: rem(24);
                    margin-right: rem(24);
                    margin-top: rem(16);
                    font-size: rem(14);
                }
                .birthOfDay {
                    margin-bottom: rem(16);
                    margin-top: rem(16);
                    .birthText {
                        color: $gray-400;
                    }
                    .birthDate {
                        color: white;
                        margin-left: rem(8);
                        font-family: $jakartaSemiBold;
                    }
                }
                .detailsDescription {
                    color: white;
                    font-size: rem(15);
                    line-height: rem(26);
                    @include breakpoint($sm) {
                        font-size: rem(14);
                        line-height: rem(20);
                    }
                }
                .contact {
                    background-color: $blue-600;
                    border-radius: rem(100);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: rem(4) rem(16) rem(4) rem(16);
                    width: rem(352);
                    margin-top: rem(40) ;
                    cursor: pointer;
                    @include breakpoint($lg) {
                        margin-top: rem(32);
                    }
                    @include breakpoint($sm) {
                        width: rem(284);
                    }
                    .linkedin {
                        width: rem(40);
                        height: rem(40);
                    }
                    .message {
                        width: rem(24);
                        height: rem(24);
                        margin-right: rem(8);
                    }
                    .contactLine {
                        width: rem(1);
                        height: rem(24);
                        background-color: $blue-4;
                        margin-left: rem(12);
                        margin-right: rem(12);
                    }
                    .mailAdress {
                        font-size: rem(14);
                        font-family: $jakartaMedium;
                        color: $blue-100;
                    }
                }
            }
        }
    }
}
.forTitle {
    // background: linear-gradient(90deg, #121926 20.87%, #697586 52.17%);
    color: $black;
}
.forDescription {
    background: radial-gradient(50% 50% at 50% 59.37%, #090909 0%, #616161 100%);
}

.detailsFullName {
    background: linear-gradient(90deg, #FFFFFF 0%, #697586 37.28%);
    font-size: rem(40);
    @include breakpoint($sm) {
        font-size: rem(24);
    }
}
.detailsPosition {
    background: radial-gradient(69.76% 792.51% at -14.53% 100%, #697586 0%, #FFFFFF 100%);
    font-size: rem(18);
    @include breakpoint($sm) {
        font-size: rem(14);
    }
}