@import '/src/assets/styles/style.scss';

.sectionContainer{
    background-image: url('/src/assets/images/statics/about-values-bg.png');
    padding-top: rem(96);
    padding-bottom: rem(96);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: rem(24);
    box-sizing: border-box;
    @include breakpoint($lg) {
        display: none;
    }
    .values {
        .heading {
            margin-bottom: rem(52);
        }
        .main {
            .mySwiper {
                height: rem(460);
                    .left {
                        background-color: $blue-500;
                        height: 100%;
                        height: rem(460);
                        .leftTop {
                            display: flex;
                            flex-direction: column;
                            border-bottom: 1px solid $white-40;
                            padding: rem(96) rem(24) rem(40);
                            .number {
                                font-family: $jakartaSemiBold;
                                font-size: rem(48);
                                color: $blue-100;
                                margin-bottom: rem(56);
                            }
                            .title {
                                margin-bottom: rem(16);
                                text-transform: uppercase;
                                color: $white;
                                font-size: rem(24);
                                font-family: $jakartaSemiBold;
                            }
                            .text {
                                line-height: rem(20);
                                color: $white-80;
                                size: rem(15);
                            }
                        }
                    }
                    .right {
                        height: rem(460);
                        .img {
                            height: 100%;
                            width: 100%;
                            img {
                                border-radius: rem(24);
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    &:first-child {
                        border-radius: rem(24);
                    }
            }
            .leftBottom {
                padding-left: rem(24);
                position: absolute;
                bottom: rem(34);
                z-index: 5;
                .customPagination {
                    display: flex;
                    gap: rem(8);
                    margin-top: rem(24);
                    z-index: 20;
                    cursor: pointer;
                }
            }
        }
    }
}

:global(.swiper-pagination-bullet) {
    width: rem(8);
    height: rem(8);
    border-radius: rem(32);
    cursor: pointer;
    background-color: $blue-300;
    transition: .3s ease;
}

:global(.swiper-pagination-bullet-active) {
    background-color: $white;
    width: rem(80);
    height: rem(8);
}

.paginationSwiper {
    position: relative;
}

.forTitle {
    color: $black;
}

.forDescription {
    background: radial-gradient(50% 50% at 50% 59.37%, #090909 0%, #616161 100%);
}


