@import '/src/assets/styles/style.scss';

.career {
    background-color: $white;
    padding-top: rem(96);
    padding-bottom: rem(96);
    background: radial-gradient(100% 100% at 50% 0%, #D0E2FF 0%, #FFFFFF 80%);
    @include breakpoint($lg) {
        padding-top: rem(40);
        padding-bottom: rem(40);
    }
    .vacancy {
        margin-bottom: rem(154);
        @include breakpoint($lg) {
            margin-bottom: rem(108);
        }
        .heading {
            margin-bottom: rem(48);
        }
        .vacancyList {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .card {
                padding: rem(24);
                display: flex;
                justify-content: space-between;          
                align-items: center; 
                width: 49.75%;
                border-radius: rem(16);
                border: 1px solid $gray-200;
                background-color: $white;
                margin-bottom: rem(4);
                @include breakpoint($lg) {
                    width: 100%;
                }
                cursor: pointer;
                .left {
                    .position {
                        font-family: $jakartaBold;
                        font-size: rem(20);
                        margin-bottom: rem(10);
                        color: $gray-800;
                        transition: .7s;
                        @include breakpoint($md) {
                            margin-bottom: rem(4);
                        }
                        @include breakpoint($sm) {
                            font-size: rem(16);
                        }
                    }
                    .date {
                        color: $gray-500;
                    }
                }
                &:hover .position {
                    color: $bluee-600;
                }
                &:hover {
                    border: 1px solid $bluee-600;
                }
                .right {
                    i {
                        color: $gray-500;
                        font-size: rem(32);
                    }
                }
                &:hover i {
                    color: $bluee-600;
                }
            }
        }
    }
}

.forTitle {
    color: $black;
}
.forDescription {
    background: radial-gradient(50% 50% at 50% 59.37%, #090909 0%, #616161 100%);
}
