@import '/src/assets/styles/style.scss';

.contactUs {
    .paragraph {
        &:first-child {
            margin-bottom: rem(36);
        }
        p {
            font-size: rem($text);
            margin-bottom: rem(6);
        }
        span {
            color: $gray-400
        }
    }
}