@import '/src/assets/styles/style.scss';

.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: $header-bg;
    @include breakpoint ($lg) {
        background-color: $header-m-bg;
    }
    .headerContainer {
        padding: rem(20) rem(40);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            cursor: pointer;
            @include breakpoint($lg) {
                width: rem(125.54);
                height: rem(32);
            }
        }
        .navbar {
            display: block;
            @include breakpoint($lg) {
                display: none;
            }
        }
        .right {
            display: block;
            @include breakpoint($lg) {
                display: none;
            }
        }
        .hamburgerMenu {
            display: none;
            width: rem(24);
            height: rem(24);
            img {
                width: 100%;
                height: 100%;
            }
            @include breakpoint($lg) {
                display: block;
            }
        }
    }
}

.hamburgerMenuWrapper {
    position: fixed;
    top: rem(40);
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}