@import '/src/assets/styles/style.scss';

.career {
    position: relative;
    z-index: 1;
    background-image: url('/src/assets/images/statics/life-bg.png');
    background-repeat: no-repeat;
    border-radius: rem(48);
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-position: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url('/src/assets/images/statics/life-left-effect.png');
        background-repeat: no-repeat;
        border-radius: rem(48);
        @include breakpoint($sm) {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        background-position: 100%;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url('/src/assets/images/statics/life-right-effect.png');
        background-repeat: no-repeat;
        border-radius: rem(48);
        @include breakpoint($sm) {
            display: none;
        }
    }
    .life {
        padding-top: rem(120);
        padding-bottom: rem(120);
        @include breakpoint($lg) {
            padding-top: rem(40);
            padding-bottom: rem(40);
        }
        .heading {
            display: flex;
            justify-content: space-between;
            margin-bottom: rem(64);

            @include breakpoint($md) {
                margin-bottom: rem(32);
            }

            h2 {
                font-size: rem($heading);
                font-family: $jakartaBold;
                background: linear-gradient(to right, #FFFFFF, #697586);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-feature-settings: "ss03";

                @include breakpoint($md) {
                    font-size: rem(24);
                }
            }

            .navigation {
                display: flex;
                gap: rem(12);

                @include breakpoint($lg) {
                    display: none;
                }

                div {
                    width: rem(48);
                    height: rem(48);
                    background-color: $gray-800;
                    border-radius: rem(12);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    position: relative;
                    z-index: 1;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-image: url('/src/assets/images/statics/button-bg.png');
                        border-radius: rem(12);
                        z-index: -1;
                        opacity: 0;
                        transition: .2s;
                    }

                    &:hover:before {
                        opacity: 1;
                    }
                }
            }
        }
        .linkContainer {
            .mySwiper {
                @include breakpoint($sm) {
                    display: none;
                }
                .card {
                    .cardInner {
                        box-sizing: border-box;
                        position: relative;
                        width: 100%;
                        height: rem(288);
                        .img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        &:hover {
                            background: linear-gradient(180deg, rgba(13, 18, 28, 0) 0%, rgba(13, 18, 28, 0.64) 100%);
                        }
                    }
                    .goTo {
                        background-color: $button-color;
                        border-radius: rem(10);
                        display: inline-block;
                        height: rem(48);
                        width: rem(107);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        visibility: hidden;
                        transition: .1s;
                        @include breakpoint($lg) {
                            display: none;
                        }
                        a {
                            color: $white;
                        }
                    }
                    &:before {
                        content: '';
                        background-image: url('/src/assets/images/statics/life-img.png');
                        position: absolute;
                        width: 100%;
                        height: 0%;
                        transition: .5s;
                        background-size: cover;
                        background-repeat: no-repeat;
                        bottom: 0;
                        right: 0;
                        @include breakpoint($lg) {
                            display: none;
                        }
                    }
        
                    &:hover:before {
                        height: 60%;
                        @include breakpoint($lg) {
                            display: none;
                        }
                    }
        
                    &:hover .goTo {
                        visibility: visible;
                        @include breakpoint($lg) {
                            display: none;
                        }
                    }
        
                    &:hover .cardInner {
                        opacity: 0.3;
                        filter: blur(2px);
                        @include breakpoint($lg) {
                            display: none;
                        }
                    }
                }
            }
            .mobile {
                display: none;
                @include breakpoint($sm) {
                    display: block;
                }
                .mobileContainer {
                    display: flex;
                    flex-direction: column;

                    .mobileCard {
                        margin-bottom: rem(24);
                        .mobileImg {
                            height: rem(288);
                            width: 100%;
                            border-radius: rem(24);
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: rem(24);
                            }
                        }
                    }
                }

            }
        }
    }
}