$body-bg-color: #0D121C;
$white: #FFFFFF;
$header-bg: rgba(11, 16, 26, .9);
$header-m-bg: #0b101a;
$white-border-opacity: rgba(255, 255, 255, 0.4);
$header-text-color: rgba(255, 255, 255, 0.6);
$gray-20: rgba(54, 65, 82, 0.4);
$gray-50: #F8FAFC;
$gray-60-transparent: rgba(18, 25, 38, 0.4);
$gray-90: rgba(11, 16, 26, 0.9);
$gray-100: #EEF2F6;
$gray-200: #E3E8EF;
$gray-300: #CDD5DF;
$gray-400: #9AA4B2;
$gray-500: #697586;
$gray-600: rgba(75, 85, 101, 1);
$gray-700: #364152;
$gray-800: #202939;
$gray-900: #121926;
$blue-950: #102A56;
$blue-500: #0F62FE;
$blue-600: #1570EF;
$intro-gradient-text-color: rgba(75, 85, 101, 1);
$common-text-color: $white;
$blue: #557EBE;
$black-gray: rgba(18, 25, 38, 0.24);
$gray-white: rgba(211, 215, 221, 0.4);
$line-color: #444444;