$body-bg-color: #0D121C;
$white: #FFFFFF;
$black: #000000;
$header-bg: rgba(11, 16, 26, .9);
$header-m-bg: #0b101a;
$white-border-opacity: rgba(255, 255, 255, 0.4);
$header-text-color: rgba(255, 255, 255, 0.6);
$gray-20: rgba(54, 65, 82, 0.4);
$gray-50: #F8FAFC;
$gray-60-transparent: rgba(18, 25, 38, 0.4);
$gray-90: rgba(11, 16, 26, 0.9);
$gray-100: #EEF2F6;
$gray-200: #E3E8EF;
$gray-300: #CDD5DF;
$gray-400: #9AA4B2;
$gray-500: #697586;
$gray-600: rgba(75, 85, 101, 1);
$gray-700: #364152;
$gray-800: #202939;
$gray-900: #121926;
$blue-950: #102A56;
$blue-500: #0F62FE;
$blue-600: #1570EF;
$intro-gradient-text-color: rgba(75, 85, 101, 1);
$common-text-color: $white;
$blue: #557EBE;
$blue-4: rgba(15, 98, 254, 0.4);
$blue-100: #D0E2FF;
$blue-300: #78A9FF;
$blue-500: #0F62FE;
$blue-600: #0043CE;
$blue-600-08: rgba(21, 112, 239, .08);
$blue-800: #1849A9;
$bluee-600: #1570EF;
$black-gray: rgba(18, 25, 38, 0.24);
$gray-white: rgba(211, 215, 221, 0.4);
$line-color: #444444;
$after-bg: rgba(205, 213, 223, .16);
$before-bg: rgba(205, 213, 223, 0.34);
$hover-white: #f8fafc;
$white-80: rgba(255, 255, 255, 0.8);
$white-40: rgba(255, 255, 255, 0.4);
$white-16: rgba(255, 255, 255, 0.16);
$contact-form-border-color: #EDEDED;
$border-color: #4096ff;
$form-placeholder-color: #657790;
$button-color: #175cd3;
$structure-bg: rgb(11, 16, 26);

