@import '/src/assets/styles/style.scss';

// .news {
//     margin-top: rem(24);
//     padding: rem(120) 0;

//     .heading {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;

//       h2 {
//         font-size: rem($heading);
//         background: linear-gradient(90deg, $white, #697586);
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//         font-feature-settings: "ss03";
//         font-family: $jakartaBold;
//       }

//       span {
//         background: radial-gradient(circle at left, #697586, #FFFFFF);
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//         font-size: rem($text);
//         cursor: pointer;
//       }
//     }

//     .main {

//     }

//   }



@import '/src/assets/styles/style.scss';

.news {
  margin-top: 24px;
  padding: 120px 0;

  .heading {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    margin-bottom: rem(64);
    @include breakpoint($lg) {
      flex-direction: column;
      width: 100%;
    }
    h2 {
      font-size: rem($heading);
      background: linear-gradient(90deg, $white, #697586);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-feature-settings: "ss03";
      font-family: $jakartaBold;
    }
    .headingRight {
      display: flex;
      gap: rem(8);
      align-items: center;
      text-align: right; 
      @include breakpoint($lg) {
          width: 100%;
          justify-content: flex-end;
      }
      i {
          color: $gray-300;
          font-size: rem(18);
          display: none;
          @include breakpoint($lg) {
              display: block;
              padding-top: rem(4);
          }
      }
      .goTo {
        background: radial-gradient(circle at left, #697586, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: rem($text);
        cursor: pointer;

          @include breakpoint($lg) {
            text-decoration: none;
            // color: $gray-900;
            font-family: $jakartaMedium;
          }
      }
      .mobileLine {
          display: none;
          background-color: rgba(255, 255, 255, 0.2);
          height: 1px;
          width: rem(40);
          @include breakpoint($lg) {
              display: block;
          }
      }
  }

  }

  .main {
    display: flex;
    gap: 24px;
    overflow-x: hidden;
    .leftCard {
      flex: 1;
      .newsCard {
        flex-direction: column;
        height: 100%;
        @include breakpoint($lg) {
          width: 100%;
          flex: 0;
        }
        .img {
          img {
            height: rem(412);
            transition: transform 0.3s ease;
            cursor: pointer;
          }

        }

        .description {
          border-radius: rem(24);
          .heading {

            span {
              font-size: 1rem(15);
            }
          }

          p {
            font-size: rem(24);
            line-height: rem(32);
            @include breakpoint($md) {
              font-size: rem(16);
              line-height: rem(22);
            }
          }
        }
        &:hover {
          .img img {
            transform: scale(1.1); 
          }
        }
      }
    }

    .rightCards {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: rem(24);
      @include breakpoint($lg) {
        flex-direction: row;
        flex: 0;
      }
      .newsCard {
        @include breakpoint($lg) {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
        .img {
          flex: 1;
          width: rem(288);
          height: rem(194);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
            cursor: pointer;
          }
        }
        &:hover {
          .img img {
            transform: scale(1.1); 
          }
        }

        .description {
          flex: 1;

        span {
          font-size: rem(12);
        }

          p {
            font-size: rem(18);
            line-height: rem(26);
          }
        }
      }
    }

    .newsCard {
      display: flex;
      box-sizing: border-box;
      gap: 12px;
      background-color: $gray-800;
      border-radius: rem(24);
      overflow: hidden;
      .description {
        padding: rem(32) rem(32) rem(24) rem(32);
        .img {

          border-radius: rem(24);
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
        .heading {
          margin-bottom: rem(16);

          span {
            color: $white;
          }

          .newsText {}

          .newsDate {
            opacity: 60%;
          }
        }

        p {
          color: $white;
          line-height: rem(26);
          font-family: $jakartaSemiBold;
        }
      }
    }
  }
}